.details {
  display: flex;
  justify-content: space-evenly;
}

.detail--column {
  flex-basis: 24%;
  padding: 0 2rem;
  border: 1px dotted goldenrod;
}

.detail--column:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 8px black;
}

.assignments {
  padding: 1rem 5rem;
  border: 1px dotted goldenrod;
}
